<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
        <title>{% block title %}Search for Busses{% endblock %}</title>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    
                    <!-- <a class="nav-item nav-link" id="home" href="{{ url_for('views.home') }}">Home</a>  -->
                    
                    <a class="nav-item nav-link" id="logout" href="/MyBookings/">My Bookings</a> 
                    <a class="nav-item nav-link" id="logout" href="/auth/logout">Logout</a> 
                    
                    
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </body>
    
    
    
    <h1>Search for busses</h1>
    <form action="{{ url_for('views.bus') }}" method="post">
        <div class="form-group">
            <label for="from">From:</label>
            <select name="from" id="from">
                <option value=" frazer town"> frazer town</option> 
                <option value="(kbs to itpl)">(kbs to itpl)</option> 
                <option value="100ft road indiranagar">100ft road indiranagar</option> 
                <option value="18th main">18th main</option> 
                <option value="378 route">378 route</option> 
                <option value="adugodi">adugodi</option> 
                <option value="agara">agara</option> 
                <option value="ananthapura gate">ananthapura gate</option> 
                <option value="arekere gate">arekere gate</option> 
                <option value="art of living">art of living</option> 
                <option value="ashoka pillar">ashoka pillar</option> 
                <option value="attibelle">attibelle</option> 
                <option value="attiguppe (vijayanagar)">attiguppe (vijayanagar)</option> 
                <option value="austin town">austin town</option> 
                <option value="ayyappa temple">ayyappa temple</option> 
                <option value="babusapalya">babusapalya</option> 
                <option value="bamboo bazaar">bamboo bazaar</option> 
                <option value="banashankari">banashankari</option> 
                <option value="banashankari 1st stage">banashankari 1st stage</option> 
                <option value="banashankari bda complex">banashankari bda complex</option> 
                <option value="banashankari bus stand">banashankari bus stand</option> 
                <option value="banaswadi">banaswadi</option> 
                <option value="bank colony">bank colony</option> 
                <option value="bannerghatta road toll">bannerghatta road toll</option> 
                <option value="bapujinagar">bapujinagar</option> 
                <option value="basavanagudi">basavanagudi</option> 
                <option value="basaveshwarnagar">basaveshwarnagar</option> 
                <option value="bayyapanahalli">bayyapanahalli</option> 
                <option value="bel circle">bel circle</option> 
                <option value="beml gate">beml gate</option> 
                <option value="bettadasapura">bettadasapura</option> 
                <option value="bilekahalli">bilekahalli</option> 
                <option value="bishop cottons">bishop cottons</option> 
                <option value="bommanahalli">bommanahalli</option> 
                <option value="bommasandra">bommasandra</option> 
                <option value="borebank road">borebank road</option> 
                <option value="brigade road">brigade road</option> 
                <option value="btm">btm</option> 
                <option value="byapanahalli">byapanahalli</option> 
                <option value="cantonment railway station">cantonment railway station</option> 
                <option value="cbi">cbi</option> 
                <option value="central">central</option> 
                <option value="chamarajpet">chamarajpet</option> 
                <option value="chandapura">chandapura</option> 
                <option value="chandra layout">chandra layout</option> 
                <option value="channasandra railway bridge">channasandra railway bridge</option> 
                <option value="cmh road">cmh road</option> 
                <option value="coles park">coles park</option> 
                <option value="corporation">corporation</option> 
                <option value="cqal">cqal</option> 
                <option value="cv raman nagar">cv raman nagar</option> 
                <option value="dairy circle">dairy circle</option> 
                <option value="dayanandsagar college">dayanandsagar college</option> 
                <option value="deepanjali nagar">deepanjali nagar</option> 
                <option value="dell">dell</option> 
                <option value="devaiah park">devaiah park</option> 
                <option value="devegowda petrol bunk">devegowda petrol bunk</option> 
                <option value="domlur layout">domlur layout</option> 
                <option value="dommsandra">dommsandra</option> 
                <option value="double road">double road</option> 
                <option value="east end">east end</option> 
                <option value="electronic city">electronic city</option> 
                <option value="electronic city toll">electronic city toll</option> 
                <option value="esi">esi</option> 
                <option value="frazer town">frazer town</option> 
                <option value="gandhi bazaar">gandhi bazaar</option> 
                <option value="ganesh bhavan">ganesh bhavan</option> 
                <option value="garage (vijayanagar)">garage (vijayanagar)</option> 
                <option value="gm palya">gm palya</option> 
                <option value="goods shed road">goods shed road</option> 
                <option value="gorguntepalya">gorguntepalya</option> 
                <option value="gottigere">gottigere</option> 
                <option value="graphite signal">graphite signal</option> 
                <option value="guttahalli main road">guttahalli main road</option> 
                <option value="hal">hal</option> 
                <option value="hanmanthnagara ward office">hanmanthnagara ward office</option> 
                <option value="hanumantanagar">hanumantanagar</option> 
                <option value="hebbal">hebbal</option> 
                <option value="hegganahalli">hegganahalli</option> 
                <option value="hmt">hmt</option> 
                <option value="hoodi circle">hoodi circle</option> 
                <option value="hope form">hope form</option> 
                <option value="hosa road junction">hosa road junction</option> 
                <option value="hosahalli">hosahalli</option> 
                <option value="hoskerehalli cross">hoskerehalli cross</option> 
                <option value="hoskote">hoskote</option> 
                <option value="hunsamanhalli">hunsamanhalli</option> 
                <option value="ilyas nagar">ilyas nagar</option> 
                <option value="indiabele">indiabele</option> 
                <option value="indian express">indian express</option> 
                <option value="indian oil">indian oil</option> 
                <option value="indira gandhi circle">indira gandhi circle</option> 
                <option value="indiranagar">indiranagar</option> 
                <option value="indiranagar 100 feet road">indiranagar 100 feet road</option> 
                <option value="indiranagar depot">indiranagar depot</option> 
                <option value="inner ring road">inner ring road</option> 
                <option value="isckon">isckon</option> 
                <option value="isolation hospital">isolation hospital</option> 
                <option value="itc">itc</option> 
                <option value="iti circle">iti circle</option> 
                <option value="itpl">itpl</option> 
                <option value="j c road">j c road</option> 
                <option value="j.p.nagar 3rd phase">j.p.nagar 3rd phase</option> 
                <option value="j.p.nagar 6th phase">j.p.nagar 6th phase</option> 
                <option value="jai bharath nagar">jai bharath nagar</option> 
                <option value="jalahalli cross">jalahalli cross</option> 
                <option value="jambusavari dinne">jambusavari dinne</option> 
                <option value="janta bazaar">janta bazaar</option> 
                <option value="jayadeva hospital(shoppers stop)">jayadeva hospital(shoppers stop)</option> 
                <option value="jayanagar">jayanagar</option> 
                <option value="jayanagar 3rd block">jayanagar 3rd block</option> 
                <option value="jayanagar 4th block">jayanagar 4th block</option> 
                <option value="jayanagar 5th block">jayanagar 5th block</option> 
                <option value="jayanagar 7th block">jayanagar 7th block</option> 
                <option value="jayanagar 9th block">jayanagar 9th block</option> 
                <option value="jayanagar east end">jayanagar east end</option> 
                <option value="jayanagar south end">jayanagar south end</option> 
                <option value="jayanagar ttmc">jayanagar ttmc</option> 
                <option value="jayanager 9th block">jayanager 9th block</option> 
                <option value="jayanager east end (jayadeva hospital)">jayanager east end (jayadeva hospital)</option> 
                <option value="jc nagar">jc nagar</option> 
                <option value="jc road">jc road</option> 
                <option value="jp nagar 15th cross">jp nagar 15th cross</option> 
                <option value="jp nagar 1st phase">jp nagar 1st phase</option> 
                <option value="jp nagar 6th phase">jp nagar 6th phase</option> 
                <option value="k h road">k h road</option> 
                <option value="k r market">k r market</option> 
                <option value="k r puram">k r puram</option> 
                <option value="k r puram rly station">k r puram rly station</option> 
                <option value="kadirenahalli cross">kadirenahalli cross</option> 
                <option value="kadugodi">kadugodi</option> 
                <option value="kaggadasapura">kaggadasapura</option> 
                <option value="kaggalipura">kaggalipura</option> 
                <option value="kalyan nagar">kalyan nagar</option> 
                <option value="kamakshipalya">kamakshipalya</option> 
                <option value="kamakya">kamakya</option> 
                <option value="kammanahalli">kammanahalli</option> 
                <option value="kanakapura road toll">kanakapura road toll</option> 
                <option value="kasturinagar">kasturinagar</option> 
                <option value="kathriguppe">kathriguppe</option> 
                <option value="kaveri bhavan">kaveri bhavan</option> 
                <option value="kbs">kbs</option> 
                <option value="kebbagodi cross">kebbagodi cross</option> 
                <option value="kempegowda bus station">kempegowda bus station</option> 
                <option value="kengeri">kengeri</option> 
                <option value="kengeri satellite town">kengeri satellite town</option> 
                <option value="kg road">kg road</option> 
                <option value="kh road">kh road</option> 
                <option value="khb colony">khb colony</option> 
                <option value="kims hospital/makkalakoota">kims hospital/makkalakoota</option> 
                <option value="kodagulati">kodagulati</option> 
                <option value="kodi">kodi</option> 
                <option value="kodighalli">kodighalli</option> 
                <option value="konanakunte cross">konanakunte cross</option> 
                <option value="kormangala">kormangala</option> 
                <option value="kormangala 100ft road">kormangala 100ft road</option> 
                <option value="kormangala sony world">kormangala sony world</option> 
                <option value="kormangala water tank">kormangala water tank</option> 
                <option value="kr circle">kr circle</option> 
                <option value="kr market">kr market</option> 
                <option value="kr road">kr road</option> 
                <option value="kumarswamy layout">kumarswamy layout</option> 
                <option value="kundalahalli">kundalahalli</option> 
                <option value="kundalahalli gate">kundalahalli gate</option> 
                <option value="lalbagh">lalbagh</option> 
                <option value="lalbagh main gate">lalbagh main gate</option> 
                <option value="lalbagh west gate">lalbagh west gate</option> 
                <option value="link road">link road</option> 
                <option value="m g road">m g road</option> 
                <option value="madhavan park">madhavan park</option> 
                <option value="madhura nagar">madhura nagar</option> 
                <option value="madivala">madivala</option> 
                <option value="maekhri circle">maekhri circle</option> 
                <option value="magadi road">magadi road</option> 
                <option value="majestic">majestic</option> 
                <option value="makkalakoota">makkalakoota</option> 
                <option value="mallesh palya">mallesh palya</option> 
                <option value="malleshwaram">malleshwaram</option> 
                <option value="malleshwaram 18th cross">malleshwaram 18th cross</option> 
                <option value="malleshwaram 8th main">malleshwaram 8th main</option> 
                <option value="malleshwaram bus station">malleshwaram bus station</option> 
                <option value="malleshwaram circle">malleshwaram circle</option> 
                <option value="malleswaram 8th cross">malleswaram 8th cross</option> 
                <option value="mantap">mantap</option> 
                <option value="marathahalli">marathahalli</option> 
                <option value="maruthi sevanagar">maruthi sevanagar</option> 
                <option value="maruti mandir (vijayanagar)">maruti mandir (vijayanagar)</option> 
                <option value="matadahalli">matadahalli</option> 
                <option value="mathikere">mathikere</option> 
                <option value="mayo hall">mayo hall</option> 
                <option value="mctc">mctc</option> 
                <option value="mekhri circle">mekhri circle</option> 
                <option value="mg road">mg road</option> 
                <option value="modi hospital">modi hospital</option> 
                <option value="monotype">monotype</option> 
                <option value="mosque road">mosque road</option> 
                <option value="mount carmel">mount carmel</option> 
                <option value="mysore bank">mysore bank</option> 
                <option value="mysore bank circle">mysore bank circle</option> 
                <option value="mysore road">mysore road</option> 
                <option value="mysore road satellite bus stop">mysore road satellite bus stop</option> 
                <option value="nagarbhavi bda complex">nagarbhavi bda complex</option> 
                <option value="nanda theatre">nanda theatre</option> 
                <option value="nandini layout">nandini layout</option> 
                <option value="national college">national college</option> 
                <option value="navrang">navrang</option> 
                <option value="nayandahalli">nayandahalli</option> 
                <option value="nayandahalli cross">nayandahalli cross</option> 
                <option value="nayandanahalli">nayandanahalli</option> 
                <option value="neeladri">neeladri</option> 
                <option value="okalipuram">okalipuram</option> 
                <option value="om shakti temple">om shakti temple</option> 
                <option value="padmanabhanagar">padmanabhanagar</option> 
                <option value="peenya 2nd stage">peenya 2nd stage</option> 
                <option value="pesit">pesit</option> 
                <option value="pipe line">pipe line</option> 
                <option value="prasanna">prasanna</option> 
                <option value="puttenahalli">puttenahalli</option> 
                <option value="queens road">queens road</option> 
                <option value="railway gate">railway gate</option> 
                <option value="rajajinagar">rajajinagar</option> 
                <option value="rajajinagar 1st block">rajajinagar 1st block</option> 
                <option value="rajajinagar 6th block">rajajinagar 6th block</option> 
                <option value="rajankunte">rajankunte</option> 
                <option value="rajarajeswari temple">rajarajeswari temple</option> 
                <option value="ram mmandir (chamarajpet)">ram mmandir (chamarajpet)</option> 
                <option value="rama murthy nagar junction">rama murthy nagar junction</option> 
                <option value="ramakrishna ashram">ramakrishna ashram</option> 
                <option value="ramamurthy nagar">ramamurthy nagar</option> 
                <option value="rehmath nagar">rehmath nagar</option> 
                <option value="residency road">residency road</option> 
                <option value="richmond circle">richmond circle</option> 
                <option value="richmond cirlce">richmond cirlce</option> 
                <option value="ring road">ring road</option> 
                <option value="rt nagar">rt nagar</option> 
                <option value="sadashivanagar">sadashivanagar</option> 
                <option value="sahakar nagar">sahakar nagar</option> 
                <option value="sangam circle">sangam circle</option> 
                <option value="sanjay gandhi hospital">sanjay gandhi hospital</option> 
                <option value="saraswathipura">saraswathipura</option> 
                <option value="sarjapur">sarjapur</option> 
                <option value="shankar mutt">shankar mutt</option> 
                <option value="shanthi talkies">shanthi talkies</option> 
                <option value="shantinagar">shantinagar</option> 
                <option value="shantinagar bus stand">shantinagar bus stand</option> 
                <option value="shivajinagar">shivajinagar</option> 
                <option value="shivananda">shivananda</option> 
                <option value="shivananda circle">shivananda circle</option> 
                <option value="siddapuram">siddapuram</option> 
                <option value="silk board">silk board</option> 
                <option value="sln stores(appaji stores)">sln stores(appaji stores)</option> 
                <option value="somapura toll">somapura toll</option> 
                <option value="south end">south end</option> 
                <option value="south end circle">south end circle</option> 
                <option value="srinivasanagar">srinivasanagar</option> 
                <option value="srirampura">srirampura</option> 
                <option value="ssmrv">ssmrv</option> 
                <option value="sujatha">sujatha</option> 
                <option value="sujatha talkies">sujatha talkies</option> 
                <option value="sunkadakatte">sunkadakatte</option> 
                <option value="sunkdagatte">sunkdagatte</option> 
                <option value="swastik">swastik</option> 
                <option value="tel exchange">tel exchange</option> 
                <option value="thippasandra">thippasandra</option> 
                <option value="thippasandra cross">thippasandra cross</option> 
                <option value="tin factory">tin factory</option> 
                <option value="tollgate">tollgate</option> 
                <option value="town hall">town hall</option> 
                <option value="trinity circle">trinity circle</option> 
                <option value="udayapura">udayapura</option> 
                <option value="udupi garden">udupi garden</option> 
                <option value="ulsoor">ulsoor</option> 
                <option value="uma talkies">uma talkies</option> 
                <option value="upanagara">upanagara</option> 
                <option value="uttam sagar">uttam sagar</option> 
                <option value="uttarahalli">uttarahalli</option> 
                <option value="vaalepura">vaalepura</option> 
                <option value="varthur">varthur</option> 
                <option value="vasanth nagar">vasanth nagar</option> 
                <option value="vathoor kodi">vathoor kodi</option> 
                <option value="vellara junction">vellara junction</option> 
                <option value="via banashankari">via banashankari</option> 
                <option value="via basavanagudi">via basavanagudi</option> 
                <option value="via hanumantanagar">via hanumantanagar</option> 
                <option value="via hebbal">via hebbal</option> 
                <option value="via ideal homes rajarajeshwarinagar gate">via ideal homes rajarajeshwarinagar gate</option> 
                <option value="via indiranagar">via indiranagar</option> 
                <option value="via jayanagar ttmc">via jayanagar ttmc</option> 
                <option value="via kengeri">via kengeri</option> 
                <option value="via majestic">via majestic</option> 
                <option value="via south end">via south end</option> 
                <option value="via sunkadakatte">via sunkadakatte</option> 
                <option value="via uttarahalli">via uttarahalli</option> 
                <option value="via viajayanagar">via viajayanagar</option> 
                <option value="vidhan soudha">vidhan soudha</option> 
                <option value="vidyaranyapura">vidyaranyapura</option> 
                <option value="vignana nagar">vignana nagar</option> 
                <option value="vijayanagar">vijayanagar</option> 
                <option value="vijayanagar (maruti mandir (vijayanagar))">vijayanagar (maruti mandir (vijayanagar))</option> 
                <option value="vivek nagar">vivek nagar</option> 
                <option value="vivekanandanagar">vivekanandanagar</option> 
                <option value="vyalikaval">vyalikaval</option> 
                <option value="vydehi hospital">vydehi hospital</option> 
                <option value="watertank">watertank</option> 
                <option value="west of chord road">west of chord road</option> 
                <option value="whitefield">whitefield</option> 
                <option value="wilson garden">wilson garden</option> 
                <option value="wipro">wipro</option> 
                <option value="yarabnagar">yarabnagar</option> 
                <option value="yediyur">yediyur</option> 
                <option value="yelahanka nes">yelahanka nes</option> 
                <option value="yelahanka old town">yelahanka old town</option> 
                <option value="yelahanka police station">yelahanka police station</option> 
                <option value="yeshwanthpur">yeshwanthpur</option> 
                <option value="yeshwanthpur railway station">yeshwanthpur railway station</option> 

                    
            </select>
            
        </div>
        <div class="form-group">
            <label for="to">To:</label>
            <select name="to" id="to">
                <option value=" frazer town"> frazer town</option> 
                <option value="(kbs to itpl)">(kbs to itpl)</option> 
                <option value="100ft road indiranagar">100ft road indiranagar</option> 
                <option value="18th main">18th main</option> 
                <option value="378 route">378 route</option> 
                <option value="adugodi">adugodi</option> 
                <option value="agara">agara</option> 
                <option value="ananthapura gate">ananthapura gate</option> 
                <option value="arekere gate">arekere gate</option> 
                <option value="art of living">art of living</option> 
                <option value="ashoka pillar">ashoka pillar</option> 
                <option value="attibelle">attibelle</option> 
                <option value="attiguppe (vijayanagar)">attiguppe (vijayanagar)</option> 
                <option value="austin town">austin town</option> 
                <option value="ayyappa temple">ayyappa temple</option> 
                <option value="babusapalya">babusapalya</option> 
                <option value="bamboo bazaar">bamboo bazaar</option> 
                <option value="banashankari">banashankari</option> 
                <option value="banashankari 1st stage">banashankari 1st stage</option> 
                <option value="banashankari bda complex">banashankari bda complex</option> 
                <option value="banashankari bus stand">banashankari bus stand</option> 
                <option value="banaswadi">banaswadi</option> 
                <option value="bank colony">bank colony</option> 
                <option value="bannerghatta road toll">bannerghatta road toll</option> 
                <option value="bapujinagar">bapujinagar</option> 
                <option value="basavanagudi">basavanagudi</option> 
                <option value="basaveshwarnagar">basaveshwarnagar</option> 
                <option value="bayyapanahalli">bayyapanahalli</option> 
                <option value="bel circle">bel circle</option> 
                <option value="beml gate">beml gate</option> 
                <option value="bettadasapura">bettadasapura</option> 
                <option value="bilekahalli">bilekahalli</option> 
                <option value="bishop cottons">bishop cottons</option> 
                <option value="bommanahalli">bommanahalli</option> 
                <option value="bommasandra">bommasandra</option> 
                <option value="borebank road">borebank road</option> 
                <option value="brigade road">brigade road</option> 
                <option value="btm">btm</option> 
                <option value="byapanahalli">byapanahalli</option> 
                <option value="cantonment railway station">cantonment railway station</option> 
                <option value="cbi">cbi</option> 
                <option value="central">central</option> 
                <option value="chamarajpet">chamarajpet</option> 
                <option value="chandapura">chandapura</option> 
                <option value="chandra layout">chandra layout</option> 
                <option value="channasandra railway bridge">channasandra railway bridge</option> 
                <option value="cmh road">cmh road</option> 
                <option value="coles park">coles park</option> 
                <option value="corporation">corporation</option> 
                <option value="cqal">cqal</option> 
                <option value="cv raman nagar">cv raman nagar</option> 
                <option value="dairy circle">dairy circle</option> 
                <option value="dayanandsagar college">dayanandsagar college</option> 
                <option value="deepanjali nagar">deepanjali nagar</option> 
                <option value="dell">dell</option> 
                <option value="devaiah park">devaiah park</option> 
                <option value="devegowda petrol bunk">devegowda petrol bunk</option> 
                <option value="domlur layout">domlur layout</option> 
                <option value="dommsandra">dommsandra</option> 
                <option value="double road">double road</option> 
                <option value="east end">east end</option> 
                <option value="electronic city">electronic city</option> 
                <option value="electronic city toll">electronic city toll</option> 
                <option value="esi">esi</option> 
                <option value="frazer town">frazer town</option> 
                <option value="gandhi bazaar">gandhi bazaar</option> 
                <option value="ganesh bhavan">ganesh bhavan</option> 
                <option value="garage (vijayanagar)">garage (vijayanagar)</option> 
                <option value="gm palya">gm palya</option> 
                <option value="goods shed road">goods shed road</option> 
                <option value="gorguntepalya">gorguntepalya</option> 
                <option value="gottigere">gottigere</option> 
                <option value="graphite signal">graphite signal</option> 
                <option value="guttahalli main road">guttahalli main road</option> 
                <option value="hal">hal</option> 
                <option value="hanmanthnagara ward office">hanmanthnagara ward office</option> 
                <option value="hanumantanagar">hanumantanagar</option> 
                <option value="hebbal">hebbal</option> 
                <option value="hegganahalli">hegganahalli</option> 
                <option value="hmt">hmt</option> 
                <option value="hoodi circle">hoodi circle</option> 
                <option value="hope form">hope form</option> 
                <option value="hosa road junction">hosa road junction</option> 
                <option value="hosahalli">hosahalli</option> 
                <option value="hoskerehalli cross">hoskerehalli cross</option> 
                <option value="hoskote">hoskote</option> 
                <option value="hunsamanhalli">hunsamanhalli</option> 
                <option value="ilyas nagar">ilyas nagar</option> 
                <option value="indiabele">indiabele</option> 
                <option value="indian express">indian express</option> 
                <option value="indian oil">indian oil</option> 
                <option value="indira gandhi circle">indira gandhi circle</option> 
                <option value="indiranagar">indiranagar</option> 
                <option value="indiranagar 100 feet road">indiranagar 100 feet road</option> 
                <option value="indiranagar depot">indiranagar depot</option> 
                <option value="inner ring road">inner ring road</option> 
                <option value="isckon">isckon</option> 
                <option value="isolation hospital">isolation hospital</option> 
                <option value="itc">itc</option> 
                <option value="iti circle">iti circle</option> 
                <option value="itpl">itpl</option> 
                <option value="j c road">j c road</option> 
                <option value="j.p.nagar 3rd phase">j.p.nagar 3rd phase</option> 
                <option value="j.p.nagar 6th phase">j.p.nagar 6th phase</option> 
                <option value="jai bharath nagar">jai bharath nagar</option> 
                <option value="jalahalli cross">jalahalli cross</option> 
                <option value="jambusavari dinne">jambusavari dinne</option> 
                <option value="janta bazaar">janta bazaar</option> 
                <option value="jayadeva hospital(shoppers stop)">jayadeva hospital(shoppers stop)</option> 
                <option value="jayanagar">jayanagar</option> 
                <option value="jayanagar 3rd block">jayanagar 3rd block</option> 
                <option value="jayanagar 4th block">jayanagar 4th block</option> 
                <option value="jayanagar 5th block">jayanagar 5th block</option> 
                <option value="jayanagar 7th block">jayanagar 7th block</option> 
                <option value="jayanagar 9th block">jayanagar 9th block</option> 
                <option value="jayanagar east end">jayanagar east end</option> 
                <option value="jayanagar south end">jayanagar south end</option> 
                <option value="jayanagar ttmc">jayanagar ttmc</option> 
                <option value="jayanager 9th block">jayanager 9th block</option> 
                <option value="jayanager east end (jayadeva hospital)">jayanager east end (jayadeva hospital)</option> 
                <option value="jc nagar">jc nagar</option> 
                <option value="jc road">jc road</option> 
                <option value="jp nagar 15th cross">jp nagar 15th cross</option> 
                <option value="jp nagar 1st phase">jp nagar 1st phase</option> 
                <option value="jp nagar 6th phase">jp nagar 6th phase</option> 
                <option value="k h road">k h road</option> 
                <option value="k r market">k r market</option> 
                <option value="k r puram">k r puram</option> 
                <option value="k r puram rly station">k r puram rly station</option> 
                <option value="kadirenahalli cross">kadirenahalli cross</option> 
                <option value="kadugodi">kadugodi</option> 
                <option value="kaggadasapura">kaggadasapura</option> 
                <option value="kaggalipura">kaggalipura</option> 
                <option value="kalyan nagar">kalyan nagar</option> 
                <option value="kamakshipalya">kamakshipalya</option> 
                <option value="kamakya">kamakya</option> 
                <option value="kammanahalli">kammanahalli</option> 
                <option value="kanakapura road toll">kanakapura road toll</option> 
                <option value="kasturinagar">kasturinagar</option> 
                <option value="kathriguppe">kathriguppe</option> 
                <option value="kaveri bhavan">kaveri bhavan</option> 
                <option value="kbs">kbs</option> 
                <option value="kebbagodi cross">kebbagodi cross</option> 
                <option value="kempegowda bus station">kempegowda bus station</option> 
                <option value="kengeri">kengeri</option> 
                <option value="kengeri satellite town">kengeri satellite town</option> 
                <option value="kg road">kg road</option> 
                <option value="kh road">kh road</option> 
                <option value="khb colony">khb colony</option> 
                <option value="kims hospital/makkalakoota">kims hospital/makkalakoota</option> 
                <option value="kodagulati">kodagulati</option> 
                <option value="kodi">kodi</option> 
                <option value="kodighalli">kodighalli</option> 
                <option value="konanakunte cross">konanakunte cross</option> 
                <option value="kormangala">kormangala</option> 
                <option value="kormangala 100ft road">kormangala 100ft road</option> 
                <option value="kormangala sony world">kormangala sony world</option> 
                <option value="kormangala water tank">kormangala water tank</option> 
                <option value="kr circle">kr circle</option> 
                <option value="kr market">kr market</option> 
                <option value="kr road">kr road</option> 
                <option value="kumarswamy layout">kumarswamy layout</option> 
                <option value="kundalahalli">kundalahalli</option> 
                <option value="kundalahalli gate">kundalahalli gate</option> 
                <option value="lalbagh">lalbagh</option> 
                <option value="lalbagh main gate">lalbagh main gate</option> 
                <option value="lalbagh west gate">lalbagh west gate</option> 
                <option value="link road">link road</option> 
                <option value="m g road">m g road</option> 
                <option value="madhavan park">madhavan park</option> 
                <option value="madhura nagar">madhura nagar</option> 
                <option value="madivala">madivala</option> 
                <option value="maekhri circle">maekhri circle</option> 
                <option value="magadi road">magadi road</option> 
                <option value="majestic">majestic</option> 
                <option value="makkalakoota">makkalakoota</option> 
                <option value="mallesh palya">mallesh palya</option> 
                <option value="malleshwaram">malleshwaram</option> 
                <option value="malleshwaram 18th cross">malleshwaram 18th cross</option> 
                <option value="malleshwaram 8th main">malleshwaram 8th main</option> 
                <option value="malleshwaram bus station">malleshwaram bus station</option> 
                <option value="malleshwaram circle">malleshwaram circle</option> 
                <option value="malleswaram 8th cross">malleswaram 8th cross</option> 
                <option value="mantap">mantap</option> 
                <option value="marathahalli">marathahalli</option> 
                <option value="maruthi sevanagar">maruthi sevanagar</option> 
                <option value="maruti mandir (vijayanagar)">maruti mandir (vijayanagar)</option> 
                <option value="matadahalli">matadahalli</option> 
                <option value="mathikere">mathikere</option> 
                <option value="mayo hall">mayo hall</option> 
                <option value="mctc">mctc</option> 
                <option value="mekhri circle">mekhri circle</option> 
                <option value="mg road">mg road</option> 
                <option value="modi hospital">modi hospital</option> 
                <option value="monotype">monotype</option> 
                <option value="mosque road">mosque road</option> 
                <option value="mount carmel">mount carmel</option> 
                <option value="mysore bank">mysore bank</option> 
                <option value="mysore bank circle">mysore bank circle</option> 
                <option value="mysore road">mysore road</option> 
                <option value="mysore road satellite bus stop">mysore road satellite bus stop</option> 
                <option value="nagarbhavi bda complex">nagarbhavi bda complex</option> 
                <option value="nanda theatre">nanda theatre</option> 
                <option value="nandini layout">nandini layout</option> 
                <option value="national college">national college</option> 
                <option value="navrang">navrang</option> 
                <option value="nayandahalli">nayandahalli</option> 
                <option value="nayandahalli cross">nayandahalli cross</option> 
                <option value="nayandanahalli">nayandanahalli</option> 
                <option value="neeladri">neeladri</option> 
                <option value="okalipuram">okalipuram</option> 
                <option value="om shakti temple">om shakti temple</option> 
                <option value="padmanabhanagar">padmanabhanagar</option> 
                <option value="peenya 2nd stage">peenya 2nd stage</option> 
                <option value="pesit">pesit</option> 
                <option value="pipe line">pipe line</option> 
                <option value="prasanna">prasanna</option> 
                <option value="puttenahalli">puttenahalli</option> 
                <option value="queens road">queens road</option> 
                <option value="railway gate">railway gate</option> 
                <option value="rajajinagar">rajajinagar</option> 
                <option value="rajajinagar 1st block">rajajinagar 1st block</option> 
                <option value="rajajinagar 6th block">rajajinagar 6th block</option> 
                <option value="rajankunte">rajankunte</option> 
                <option value="rajarajeswari temple">rajarajeswari temple</option> 
                <option value="ram mmandir (chamarajpet)">ram mmandir (chamarajpet)</option> 
                <option value="rama murthy nagar junction">rama murthy nagar junction</option> 
                <option value="ramakrishna ashram">ramakrishna ashram</option> 
                <option value="ramamurthy nagar">ramamurthy nagar</option> 
                <option value="rehmath nagar">rehmath nagar</option> 
                <option value="residency road">residency road</option> 
                <option value="richmond circle">richmond circle</option> 
                <option value="richmond cirlce">richmond cirlce</option> 
                <option value="ring road">ring road</option> 
                <option value="rt nagar">rt nagar</option> 
                <option value="sadashivanagar">sadashivanagar</option> 
                <option value="sahakar nagar">sahakar nagar</option> 
                <option value="sangam circle">sangam circle</option> 
                <option value="sanjay gandhi hospital">sanjay gandhi hospital</option> 
                <option value="saraswathipura">saraswathipura</option> 
                <option value="sarjapur">sarjapur</option> 
                <option value="shankar mutt">shankar mutt</option> 
                <option value="shanthi talkies">shanthi talkies</option> 
                <option value="shantinagar">shantinagar</option> 
                <option value="shantinagar bus stand">shantinagar bus stand</option> 
                <option value="shivajinagar">shivajinagar</option> 
                <option value="shivananda">shivananda</option> 
                <option value="shivananda circle">shivananda circle</option> 
                <option value="siddapuram">siddapuram</option> 
                <option value="silk board">silk board</option> 
                <option value="sln stores(appaji stores)">sln stores(appaji stores)</option> 
                <option value="somapura toll">somapura toll</option> 
                <option value="south end">south end</option> 
                <option value="south end circle">south end circle</option> 
                <option value="srinivasanagar">srinivasanagar</option> 
                <option value="srirampura">srirampura</option> 
                <option value="ssmrv">ssmrv</option> 
                <option value="sujatha">sujatha</option> 
                <option value="sujatha talkies">sujatha talkies</option> 
                <option value="sunkadakatte">sunkadakatte</option> 
                <option value="sunkdagatte">sunkdagatte</option> 
                <option value="swastik">swastik</option> 
                <option value="tel exchange">tel exchange</option> 
                <option value="thippasandra">thippasandra</option> 
                <option value="thippasandra cross">thippasandra cross</option> 
                <option value="tin factory">tin factory</option> 
                <option value="tollgate">tollgate</option> 
                <option value="town hall">town hall</option> 
                <option value="trinity circle">trinity circle</option> 
                <option value="udayapura">udayapura</option> 
                <option value="udupi garden">udupi garden</option> 
                <option value="ulsoor">ulsoor</option> 
                <option value="uma talkies">uma talkies</option> 
                <option value="upanagara">upanagara</option> 
                <option value="uttam sagar">uttam sagar</option> 
                <option value="uttarahalli">uttarahalli</option> 
                <option value="vaalepura">vaalepura</option> 
                <option value="varthur">varthur</option> 
                <option value="vasanth nagar">vasanth nagar</option> 
                <option value="vathoor kodi">vathoor kodi</option> 
                <option value="vellara junction">vellara junction</option> 
                <option value="via banashankari">via banashankari</option> 
                <option value="via basavanagudi">via basavanagudi</option> 
                <option value="via hanumantanagar">via hanumantanagar</option> 
                <option value="via hebbal">via hebbal</option> 
                <option value="via ideal homes rajarajeshwarinagar gate">via ideal homes rajarajeshwarinagar gate</option> 
                <option value="via indiranagar">via indiranagar</option> 
                <option value="via jayanagar ttmc">via jayanagar ttmc</option> 
                <option value="via kengeri">via kengeri</option> 
                <option value="via majestic">via majestic</option> 
                <option value="via south end">via south end</option> 
                <option value="via sunkadakatte">via sunkadakatte</option> 
                <option value="via uttarahalli">via uttarahalli</option> 
                <option value="via viajayanagar">via viajayanagar</option> 
                <option value="vidhan soudha">vidhan soudha</option> 
                <option value="vidyaranyapura">vidyaranyapura</option> 
                <option value="vignana nagar">vignana nagar</option> 
                <option value="vijayanagar">vijayanagar</option> 
                <option value="vijayanagar (maruti mandir (vijayanagar))">vijayanagar (maruti mandir (vijayanagar))</option> 
                <option value="vivek nagar">vivek nagar</option> 
                <option value="vivekanandanagar">vivekanandanagar</option> 
                <option value="vyalikaval">vyalikaval</option> 
                <option value="vydehi hospital">vydehi hospital</option> 
                <option value="watertank">watertank</option> 
                <option value="west of chord road">west of chord road</option> 
                <option value="whitefield">whitefield</option> 
                <option value="wilson garden">wilson garden</option> 
                <option value="wipro">wipro</option> 
                <option value="yarabnagar">yarabnagar</option> 
                <option value="yediyur">yediyur</option> 
                <option value="yelahanka nes">yelahanka nes</option> 
                <option value="yelahanka old town">yelahanka old town</option> 
                <option value="yelahanka police station">yelahanka police station</option> 
                <option value="yeshwanthpur">yeshwanthpur</option> 
                <option value="yeshwanthpur railway station">yeshwanthpur railway station</option> 

    
            </select>

        <br>
        <button type="submit" class="btn btn-default" >Search</button>
</html>  